<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ./partials/head.ejs %>
  </head>
  <header>
    <h1>COFFEE BRAIN</h1>
    <h5>free up some space in that noggin - log your coffee</h5><br/>
    <img src = "coffee-brain.png" alt="Not Availle" style= "width: 15em"><br/><br/>
  </header>
  <div class="body">
    <body style="align-text:center ">
      <div class="head">
          <a href="/profiles/new" class="waves-effect waves-light btn">Log a Cup</a><br/><br/>
          <a href="/profiles/newRoast" class="waves-effect waves-light btn">Log a Roast</a><br/><br/>
          <form action="/sessions?_method=DELETE" method="post">
            <input type="submit" value="Logout" class="waves-effect waves-light btn">
          </form><br/><br/>
      </div>
      <h4>
          My Cups
      </h4>
        <div class="proRo">
          <% for(let i = 0; i < myProfile.length; i++){ %>
              <a href="/profiles/<%=myProfile[i].id%>">|| Origin: <%=myProfile[i].origin%> || Rating: <%=myProfile[i].rating%> ||
          <% } %>
              </a>
        </div>
      <h4>
          My Roasts
      </h4>
        <div class="proRo">
          <% for(let i = 0; i < myRoast.length; i++){ %>
              <a href="/roast/<%=myRoast[i].id%>">||  Origin: <%=myRoast[i].origin%>  ||  Rating: <%=myRoast[i].rating%>  ||
          <% } %>
              </a>
        </div>
      <div class="baristas">
        <h4>
            Community Cups
        </h4>
          <div class="proRo">
            <% for(let i = 0; i < profile.length; i++){ %>
                <a href="/profiles/<%=profile[i].id%>">||  Origin: <%=profile[i].origin%> || Rating: <%=profile[i].rating%>  ||
            <% } %>
                </a>
          </div>
      </div>
      <div class="roasters">
        <h4>
            Community Roasts
        </h4>
          <div class="proRo">
              <% for(let i = 0; i < roast.length; i++){ %>
                  <a href="/roast/<%=roast[i].id%>">||  Origin: <%=roast[i].origin%> || Rating: <%=roast[i].rating%>  ||
              <% } %>
                  </a>
          </div>
      </div>
    </body>
  </div>
</html>
