<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <% include ./partials/head.ejs %>
        <title></title>
    </head>
    <body style= "text-align:center">
        User: <%=roast.user%><br/>
        Rating: <%=roast.rating%><br/>
        Origin: <%=roast.origin%><br/>
        Date: <%=roast.date%><br/>
        Roaster: <%=roast.roaster%><br/>
        Roaster (machine): <%=roast.roasterMac%><br/>
        Batch Size: <%=roast.batchSize%><br/>
        Load Temp: <%=roast.loadTemp%><br/>
        1st Crack Time: <%=roast.firCracTime%><br/>
        1st Crack Temp: <%=roast.firCracTemp%><br/>
        Drop Time: <%=roast.dropTime%><br/>
        Drop Temp: <%=roast.dropTemp%><br/>
        Final Weight: <%=roast.finalWeight%><br/>
        Extra Notes/Adjustments: <%=roast.extNot%><br/>
        <nav>
            <a href="/profiles"><button>Back to Your Profiles</button></a>
            <% if (roast.user == thisUser){%>
              <a href="/roast/<%=roast.id%>/edit"><button>Edit</button><a/>
              <form action="/roast/<%=roast.id%>?_method=DELETE" method="POST">
                     <input type="submit" value="DELETE" />
              </form><br/><% }else {
              }%>
        </nav>
    </body>
</html>
